SLCEFlacaAgent_unpacked/Workflows/SLCE-FlacaAgentCancellaMenuOggi-AF9651EE-3975-F111-AB0D-7C1E52357019.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ddo_sharedsharepointonline_31146"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SL CE - Flaca Agent | Url SharePoint (ddo_SLCEFlacaAgentUrlSharePoint)": {
          "defaultValue": "https://agictechnology-my.sharepoint.com/personal/daniel_dorazio_agic_it",
          "type": "String",
          "metadata": {
            "schemaName": "ddo_SLCEFlacaAgentUrlSharePoint"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          },
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Immetti l'input",
                  "title": "Testo",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_the_agent": {
          "runAfter": {
            "Ambito_-_Pulizia_Ordine": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          },
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "statusCode": 200,
            "body": {},
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "Ambito_-_Pulizia_Menu": {
          "actions": {
            "Leggi_Menu_Attuale": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "aa000001-0001-0001-0001-000000000001"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('SL CE - Flaca Agent | Url SharePoint (ddo_SLCEFlacaAgentUrlSharePoint)')",
                  "table": "31d4209d-dd46-4a61-854f-473fba67a501",
                  "$top": 100
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Cancella_Menu_Attuale": {
              "foreach": "@outputs('Leggi_Menu_Attuale')?['body/value']",
              "actions": {
                "Elimina_Voce": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "aa000001-0001-0001-0001-000000000002"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "DeleteItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "@parameters('SL CE - Flaca Agent | Url SharePoint (ddo_SLCEFlacaAgentUrlSharePoint)')",
                      "table": "31d4209d-dd46-4a61-854f-473fba67a501",
                      "id": "@items('Cancella_Menu_Attuale')?['ID']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Leggi_Menu_Attuale": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "aa000001-0001-0001-0001-000000000003"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "975590fb-5367-427e-abcc-ab1ff7a86646"
          },
          "type": "Scope"
        },
        "Ambito_-_Pulizia_Ordine": {
          "actions": {
            "Leggi_Ordini": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "aa000001-0001-0001-0001-000000000001"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('SL CE - Flaca Agent | Url SharePoint (ddo_SLCEFlacaAgentUrlSharePoint)')",
                  "table": "38a33006-7b17-4a37-adfe-6f08299c1097",
                  "$top": 100
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Cancella_Ordine_Attuale": {
              "foreach": "@outputs('Leggi_Ordini')?['body/value']",
              "actions": {
                "Elimina_Ordine_Attuale": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "aa000001-0001-0001-0001-000000000002"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline_1",
                      "operationId": "DeleteItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "@parameters('SL CE - Flaca Agent | Url SharePoint (ddo_SLCEFlacaAgentUrlSharePoint)')",
                      "table": "38a33006-7b17-4a37-adfe-6f08299c1097",
                      "id": "@items('Cancella_Ordine_Attuale')?['ID']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Leggi_Ordini": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1d1396ec-bc21-4cdd-ab39-2994acd8240a"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Ambito_-_Pulizia_Menu": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "996878db-c2af-4f68-a6ea-8c721a12f0aa"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}