SLCEFlacaAgent_unpacked/Workflows/SLCE-FlacaAgentInvioMenuTeams-D7372FBF-B66B-F111-AB0C-7CED8D2C46CB.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ddo_sharedsharepointonline_31146"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_teams_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ddo_sharedteams_ddd0e"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SL CE - Flaca Agent | Url SharePoint (ddo_SLCEFlacaAgentUrlSharePoint)": {
          "defaultValue": "https://agictechnology-my.sharepoint.com/personal/daniel_dorazio_agic_it",
          "type": "String",
          "metadata": {
            "schemaName": "ddo_SLCEFlacaAgentUrlSharePoint"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "timeZone": "W. Europe Standard Time",
            "startTime": "2026-06-19T10:00:00"
          },
          "metadata": {
            "operationMetadataId": "82f1151b-1485-4ad1-b18c-a1f535423bca"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Init_Contatore": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bcc0fbca-4432-4fc9-bdcf-fc1d91e77a08"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "contatore",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Init_MessaggioMenu": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4015b6f8-d0ed-4651-b65a-fdb7ee354a8c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "messaggioMenu",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Leggi_Primi": {
          "runAfter": {
            "Init_Contatore": [
              "Succeeded"
            ],
            "Init_MessaggioMenu": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "sec01-0001-0001-0001-000000000001"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SL CE - Flaca Agent | Url SharePoint (ddo_SLCEFlacaAgentUrlSharePoint)')",
              "table": "31d4209d-dd46-4a61-854f-473fba67a501",
              "$filter": "@concat('Categoria eq ''Primi'' and DataMenu ge ''', formatDateTime(utcNow(), 'yyyy-MM-dd'), 'T00:00:00Z'' and DataMenu lt ''', formatDateTime(addDays(utcNow(), 1), 'yyyy-MM-dd'), 'T00:00:00Z'' and Attivo eq 1')",
              "$orderby": "ID asc",
              "$top": 50
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Sezione_Primi": {
          "runAfter": {
            "Leggi_Primi": [
              "Succeeded"
            ]
          },
          "type": "If",
          "expression": {
            "greater": [
              "@length(outputs('Leggi_Primi')?['body']?['value'])",
              0
            ]
          },
          "actions": {
            "Header_Primi": {
              "runAfter": {},
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "messaggioMenu",
                "value": "<strong>🍝 Primi</strong><br>"
              }
            },
            "Componi_Primi": {
              "foreach": "@outputs('Leggi_Primi')?['body']?['value']",
              "actions": {
                "Inc_Primi": {
                  "runAfter": {},
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "contatore",
                    "value": 1
                  }
                },
                "Add_Primo": {
                  "runAfter": {
                    "Inc_Primi": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "messaggioMenu",
                    "value": "@{variables('contatore')}. @{items('Componi_Primi')?['Title']}<br>"
                  }
                }
              },
              "runAfter": {
                "Header_Primi": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          },
          "else": {
            "actions": {}
          }
        },
        "Leggi_Secondi": {
          "runAfter": {
            "Sezione_Primi": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "sec01-0001-0001-0001-000000000002"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SL CE - Flaca Agent | Url SharePoint (ddo_SLCEFlacaAgentUrlSharePoint)')",
              "table": "31d4209d-dd46-4a61-854f-473fba67a501",
              "$filter": "@concat('Categoria eq ''Secondi'' and DataMenu ge ''', formatDateTime(utcNow(), 'yyyy-MM-dd'), 'T00:00:00Z'' and DataMenu lt ''', formatDateTime(addDays(utcNow(), 1), 'yyyy-MM-dd'), 'T00:00:00Z'' and Attivo eq 1')",
              "$orderby": "ID asc",
              "$top": 50
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Sezione_Secondi": {
          "runAfter": {
            "Leggi_Secondi": [
              "Succeeded"
            ]
          },
          "type": "If",
          "expression": {
            "greater": [
              "@length(outputs('Leggi_Secondi')?['body']?['value'])",
              0
            ]
          },
          "actions": {
            "Header_Secondi": {
              "runAfter": {},
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "messaggioMenu",
                "value": "<br><strong>🥩 Secondi</strong><br>"
              }
            },
            "Componi_Secondi": {
              "foreach": "@outputs('Leggi_Secondi')?['body']?['value']",
              "actions": {
                "Inc_Secondi": {
                  "runAfter": {},
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "contatore",
                    "value": 1
                  }
                },
                "Add_Secondo": {
                  "runAfter": {
                    "Inc_Secondi": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "messaggioMenu",
                    "value": "@{variables('contatore')}. @{items('Componi_Secondi')?['Title']}<br>"
                  }
                }
              },
              "runAfter": {
                "Header_Secondi": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          },
          "else": {
            "actions": {}
          }
        },
        "Leggi_Pizze": {
          "runAfter": {
            "Sezione_Secondi": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "sec01-0001-0001-0001-000000000003"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SL CE - Flaca Agent | Url SharePoint (ddo_SLCEFlacaAgentUrlSharePoint)')",
              "table": "31d4209d-dd46-4a61-854f-473fba67a501",
              "$filter": "@concat('Categoria eq ''Pizze'' and DataMenu ge ''', formatDateTime(utcNow(), 'yyyy-MM-dd'), 'T00:00:00Z'' and DataMenu lt ''', formatDateTime(addDays(utcNow(), 1), 'yyyy-MM-dd'), 'T00:00:00Z'' and Attivo eq 1')",
              "$orderby": "ID asc",
              "$top": 50
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Sezione_Pizze": {
          "runAfter": {
            "Leggi_Pizze": [
              "Succeeded"
            ]
          },
          "type": "If",
          "expression": {
            "greater": [
              "@length(outputs('Leggi_Pizze')?['body']?['value'])",
              0
            ]
          },
          "actions": {
            "Header_Pizze": {
              "runAfter": {},
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "messaggioMenu",
                "value": "<br><strong>🍕 Pizze</strong><br>"
              }
            },
            "Componi_Pizze": {
              "foreach": "@outputs('Leggi_Pizze')?['body']?['value']",
              "actions": {
                "Inc_Pizze": {
                  "runAfter": {},
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "contatore",
                    "value": 1
                  }
                },
                "Add_Pizza": {
                  "runAfter": {
                    "Inc_Pizze": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "messaggioMenu",
                    "value": "@{variables('contatore')}. @{items('Componi_Pizze')?['Title']}<br>"
                  }
                }
              },
              "runAfter": {
                "Header_Pizze": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          },
          "else": {
            "actions": {}
          }
        },
        "Leggi_Insalate": {
          "runAfter": {
            "Sezione_Pizze": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "sec01-0001-0001-0001-000000000004"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SL CE - Flaca Agent | Url SharePoint (ddo_SLCEFlacaAgentUrlSharePoint)')",
              "table": "31d4209d-dd46-4a61-854f-473fba67a501",
              "$filter": "@concat('Categoria eq ''Insalate'' and DataMenu ge ''', formatDateTime(utcNow(), 'yyyy-MM-dd'), 'T00:00:00Z'' and DataMenu lt ''', formatDateTime(addDays(utcNow(), 1), 'yyyy-MM-dd'), 'T00:00:00Z'' and Attivo eq 1')",
              "$orderby": "ID asc",
              "$top": 50
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Sezione_Insalate": {
          "runAfter": {
            "Leggi_Insalate": [
              "Succeeded"
            ]
          },
          "type": "If",
          "expression": {
            "greater": [
              "@length(outputs('Leggi_Insalate')?['body']?['value'])",
              0
            ]
          },
          "actions": {
            "Header_Insalate": {
              "runAfter": {},
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "messaggioMenu",
                "value": "<br><strong>🥗 Insalate</strong><br>"
              }
            },
            "Componi_Insalate": {
              "foreach": "@outputs('Leggi_Insalate')?['body']?['value']",
              "actions": {
                "Inc_Insalate": {
                  "runAfter": {},
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "contatore",
                    "value": 1
                  }
                },
                "Add_Insalata": {
                  "runAfter": {
                    "Inc_Insalate": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "messaggioMenu",
                    "value": "@{variables('contatore')}. @{items('Componi_Insalate')?['Title']}<br>"
                  }
                }
              },
              "runAfter": {
                "Header_Insalate": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          },
          "else": {
            "actions": {}
          }
        },
        "Leggi_Burger": {
          "runAfter": {
            "Sezione_Insalate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "sec01-0001-0001-0001-000000000005"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SL CE - Flaca Agent | Url SharePoint (ddo_SLCEFlacaAgentUrlSharePoint)')",
              "table": "31d4209d-dd46-4a61-854f-473fba67a501",
              "$filter": "@concat('Categoria eq ''Burger'' and DataMenu ge ''', formatDateTime(utcNow(), 'yyyy-MM-dd'), 'T00:00:00Z'' and DataMenu lt ''', formatDateTime(addDays(utcNow(), 1), 'yyyy-MM-dd'), 'T00:00:00Z'' and Attivo eq 1')",
              "$orderby": "ID asc",
              "$top": 50
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Sezione_Burger": {
          "runAfter": {
            "Leggi_Burger": [
              "Succeeded"
            ]
          },
          "type": "If",
          "expression": {
            "greater": [
              "@length(outputs('Leggi_Burger')?['body']?['value'])",
              0
            ]
          },
          "actions": {
            "Header_Burger": {
              "runAfter": {},
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "messaggioMenu",
                "value": "<br><strong>🍔 Burger</strong><br>"
              }
            },
            "Componi_Burger": {
              "foreach": "@outputs('Leggi_Burger')?['body']?['value']",
              "actions": {
                "Inc_Burger": {
                  "runAfter": {},
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "contatore",
                    "value": 1
                  }
                },
                "Add_Burger": {
                  "runAfter": {
                    "Inc_Burger": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "messaggioMenu",
                    "value": "@{variables('contatore')}. @{items('Componi_Burger')?['Title']}<br>"
                  }
                }
              },
              "runAfter": {
                "Header_Burger": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          },
          "else": {
            "actions": {}
          }
        },
        "Invia_Menu_Su_Teams": {
          "runAfter": {
            "Sezione_Burger": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fe45c168-a866-4a19-bdca-726056836776"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams_1",
              "operationId": "PostMessageToConversation",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "poster": "Flow bot",
              "location": "Group chat",
              "body/recipient": "19:419f41383b41472c9d358157ede138e9@thread.v2",
              "body/messageBody": "<p>Ciao a tutti ☀️<br>\nEcco il menu di oggi per <strong>La Flaca</strong>:<br><br>\n@{variables('messaggioMenu')}<br>\nRispondete con il <strong>numero</strong> o il <strong>nome</strong> del piatto scelto. Gli ordini chiudono alle 12:00 ⏰</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}